$TitleSearch: rgba(255, 209, 91, 1);
$White: rgb(255, 255, 255);
$Black: rgb(0, 0, 0);

$breakpoints:(
    tablet: 600px,
    desktop: 1024px,
    1260: 1260px,
    800: 800px,
    664: 664px,
    531: 531px,
    421: 421px,
);