$TitleSearch: rgba(255, 209, 91, 1);
$White: rgb(255, 255, 255);
$Black: rgb(0, 0, 0);
$Grey : rgb(237, 237, 237);
$Grey2: rgb(122, 122, 122);
$Yellow: #FFD15B;

$FontAnton: 'Anton', sans-serif;
$FontManrope: 'Manrope', sans-serif;

$breakpoints:(
    tablet: 600px,
    desktop: 1024px,
    1260: 1260px,
    1220: 1220px,
    970: 970px,
    854: 854px,
    800: 800px,
    664: 664px,
    606: 606px,
    531: 531px,
    480: 480px,
    421: 421px,
);